body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: black;
            color: #333;
            font-family: 'Times New Roman', Times, serif;
        }

        /* Верхнее меню */
        header {
            background: red;
            padding: 15px 0;
            text-align: center;
            color: white;
            font-size: 22px;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        /* Контейнер */
        .container {
            max-width: 900px;
            margin: 30px auto;
            background: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        /* Фото */
        .photo {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin: 0 auto 20px auto;
            border: 4px solid red;
        }

        h2 {
            text-align: center;
            margin-bottom: 10px;
            color: red;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        /* Секция навыков */
        .skills {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }

        .skill-item {
            width: 30%;
            background: #eef6ff;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            font-size: 18px;
            border: 1px solid #bcd8ff;
        }

        /* Кнопка */
        .btn {
            display: block;
            width: 220px;
            margin: 30px auto 0 auto;
            padding: 12px;
            background: red;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
            font-size: 18px;
           
            /* тексти озгортуу  
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        }

        .btn:hover {
            background: brown;
        }